<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ newlist.nombre }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ newlist.nombre }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let alimento of newlist.alimentos">
      <ion-label>{{ alimento.nombre }}</ion-label>
      <ion-input type="number" [(ngModel)]="alimento.cantidad"></ion-input>
      <ion-button (click)="agregarAlimento(alimento)">Agregar</ion-button>
    </ion-item>
  </ion-list>
</ion-content>

