<ion-header>
  <ion-toolbar>
    <ion-title>
      Detalle de la lista
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      {{ newlist.nombre }}
    </ion-card-header>
    <ion-card-content>
      Total: {{ calcularTotal() | currency:'USD':'symbol':'1.2-2' }}
    </ion-card-content>
  </ion-card>

  <ion-list *ngIf="loading; else foodsList">
    <ion-item>
      <ion-label>Loading...</ion-label>
    </ion-item>
  </ion-list>

  <ng-template #foodsList>
    <ion-list>
      <ion-item *ngFor="let alimento of newlist.alimentos">
        <ion-label>{{ alimento.nombre }}</ion-label>
        <ion-input [(ngModel)]="alimento.cantidad" type="number"></ion-input>
        <ion-input [(ngModel)]="alimento.precio" type="number"></ion-input>
        <ion-label>{{ (alimento.cantidad * alimento.precio) | currency:'USD':'symbol':'1.2-2' }}</ion-label>
      </ion-item>
    </ion-list>
  </ng-template>

  <ion-button expand="full" (click)="guardarCambios()">Guardar cambios</ion-button>
</ion-content>
