ion-card{
    border-radius: 10%;
    background: #3AB2FB;
    color: #ffffff;
}

ion-button {
    width: 170px;
}

@media (min-width: 768px) {
    form{
        width: 500px;
        padding: 50px 10px;
    }
}