<app-header title="Mi Inventario"></app-header>

<ion-content>
  <app-logo></app-logo>
  <div class="contenido">
    <div class="titulo">
      <h1 class="d-flex-center">Mi Inventario</h1>
    </div>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <div class="scanner">
          <ion-icon name="scan-outline" size="large" (click)="scanAndSearchInMyFoods()"></ion-icon>
          <p>Escanea para agregar tus productos al inventario!</p>
        </div>
    
        <div class="video-container" *ngIf="showScanner">
          <div class="barcode-line vertical"></div>
          <div class="barcode-line horizontal"></div>
          <video #videoElement id="video" playsinline autoplay style="width: 100%; height: auto; transform: scaleX(-1);"></video>
          <canvas #canvasElement style="display: none;"></canvas>
        </div>
      </ion-col>
    </ion-row>
    
    
    

    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label slot="start">Descontar</ion-label>
          
            <ion-toggle (ionChange)="toggleMode($event)" checked color="success" ></ion-toggle>
          
          <ion-label slot="end">Añadir</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col size="12">
        <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="filterFoods($event)"></ion-searchbar>
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col size="12">
        <ion-button class="filtrar" expand="block" (click)="openFilterModal()">Filtrar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ng-container *ngFor="let food of filteredFoods">
        <ion-col size="3" size-sm="6" size-md="4" size-lg="3">
          <ion-card class="food-card">
            <div class="image-container">
              <ion-img [src]="food.imagen" alt="Imagen del alimento" class="food-image"></ion-img>
              <ion-button fill="clear" class="edit-button" *ngIf="!food.showStockEditor" (click)="showStockEditor(food)">
                <ion-icon name="create-outline"></ion-icon>
              </ion-button>
              <div class="stock-label">
                
                <h5>{{ food.stock }}</h5>
              </div>

                  <!-- 
                  Botón para abrir el modal de stock ideal 
                <ion-button fill="clear" class="edit-ideal-button" *ngIf="!food.showStockEditor && !food.showIdealStockEditor" (click)="showIdealStockEditor(food)">
                  <ion-icon name="create-outline"></ion-icon>
                  Editar Stock Ideal
                </ion-button>
                  -->
            </div>
            <ion-card-content class="food-card-content">
              <p style="font-size: 10px; color: #44B0F1; font-weight: bold;">{{ food.name }}</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-card>
          <ion-card-content *ngIf="food.showStockEditor">
              <ion-row>
                <ion-col size="4">
                  <ion-button expand="block" color="success" (click)="incrementStock(food)">+</ion-button>
                </ion-col>
                <ion-col size="4">
                  <ion-input type="number" [(ngModel)]="food.stockToShow" name="stockToShow"></ion-input>
                  <p>Stock actual: {{ food.stock }}</p>
                </ion-col>
                <ion-col size="4">
                  <ion-button expand="block" color="warning" (click)="decrementStock(food)">-</ion-button>
                </ion-col>
                <ion-col size="6">
                  <ion-button expand="block" color="primary" (click)="confirmStockChange(food)">Confirmar</ion-button>
                </ion-col>
                <ion-col size="6">
                  <ion-button expand="block" color="danger" (click)="cancelStockEdit(food)">Cancelar</ion-button>
                </ion-col>
              </ion-row>
            </ion-card-content>
        </ion-card>

        <!-- Card para mostrar el editor de stock ideal -
        <ion-card>
          <ion-card-content *ngIf="food.showIdealStockEditor">
            <ion-row>
              <ion-col size="4">
                <ion-button expand="block" color="success" (click)="incrementStockIdeal(food)">+</ion-button>
              </ion-col>
              <ion-col size="4">
                <ion-input type="number" [(ngModel)]="stockIdealToShow" name="stockIdealToShow"></ion-input>
                <p>Stock ideal actual: {{ food.stock_ideal }}</p>
              </ion-col>
              <ion-col size="4">
                <ion-button expand="block" color="warning" (click)="decrementStockIdeal(food)">-</ion-button>
              </ion-col>
              <ion-col size="6">
                <ion-button expand="block" color="primary" (click)="submitIdealStock(food)">Confirmar</ion-button>
              </ion-col>
              <ion-col size="6">
                <ion-button expand="block" color="danger" (click)="cancelIdealStockEdit(food)">Cancelar</ion-button>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>

        -->
        
        

        

      </ng-container>

      
    </ion-row>
  </ion-grid>
  </div>
</ion-content>