<app-header title="Mi Inventario"></app-header>


<ion-content >
  <ion-grid>
    <ion-row style="background-color: 44B0F1;">
      <ion-col size="12">
        <div class="scanner">
          <ion-icon name="scan-outline" size="large"></ion-icon>
          <p>Escanea para agregar tus productos al inventario!</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="toggle-buttons">
      <ion-col size="2" class="toggle-col">
        <ion-toggle [(ngModel)]="addMode" (ionChange)="toggleMode($event)"></ion-toggle>
        <ion-label>{{ addMode ? 'Añadir' : 'Descontar' }}</ion-label>
      </ion-col>
      <ion-col size="8" class="filter-col">
        <ion-searchbar [(ngModel)]="searchTerm"></ion-searchbar>
        <ion-button>
          <ion-icon name="funnel-outline"></ion-icon> Filtrar
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row *ngFor="let food of filteredFoods">
      <ion-col size="12">
        <ion-card>
          <ion-item>
            <ion-thumbnail slot="start" [ngStyle]="{'border-color': food.bgColor}">
              <img [src]="food.imagen" alt="Imagen del alimento">
            </ion-thumbnail>
            <ion-label>
              <h2>{{food.name}}</h2>
              <p>Stock: {{food.stock}}</p>
            </ion-label>
            <ion-button *ngIf="food.showStockEditor" (click)="confirmStockChange(food)">Confirmar</ion-button>
            <ion-button (click)="showStockEditor(food)">Editar Stock</ion-button>
          </ion-item>
          <ion-row *ngIf="food.showStockEditor">
            <ion-row *ngIf="food.showStockEditor">
              <ion-col>
                <ion-button (click)="cancelStockEdit(food)">Cancelar</ion-button>
                <ion-button (click)="incrementStock(food)">+</ion-button>
                <ion-input type="number" [(ngModel)]="food.stockToShow"></ion-input>
                <ion-button (click)="decrementStock(food)">-</ion-button>
              </ion-col>
            </ion-row>
            
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
