.add {
  --background: rgb(43, 197, 82) !important;
  --color: white !important;
  margin-top: 3%;
  margin-left: auto;
  width: 100px;
  --border-radius: 20px !important;
}

.delete {
  --background: rgb(190, 54, 54) !important;
  --color: white !important;
  margin-top: 3%;
  margin-right: auto;
  width: 100px;
  --border-radius: 20px !important;
}

ion-item.delete-mode {
  background-color: rgba(255, 0, 0, 0.1);
  border: 1px solid red;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin: 10px 20px;
}

ion-card {
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

ion-list {
  padding: 10px;
}

ion-item {
  --background: #fff;
  border-radius: 10px;
  margin-bottom: 10px;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-icon {
  font-size: 2rem;
  color: #666;
}

ion-card-title {
  font-size: 1.2rem;
  color: #222;
}

ion-card-subtitle {
  font-size: 1rem;
  color: #666;
}

ion-card-subtitle p {
  color: #3880ff;
}

ion-thumbnail img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

ion-button {
  --padding-start: 0;
  --padding-end: 0;
  height: 40px;
}

ion-icon {
  font-size: 1.5rem;
}

ion-grid {
  margin-top: 20px;
}

ion-card-header {
  background-color: #f8f8f8;
  border-radius: 10px 10px 0 0;
}

ion-card-title {
  font-size: 1.5rem;
  color: #444;
}

ion-card-content {
  padding: 20px;
}