

.custom-card {
    border: 1px solid #44B0F1; /* Agrega un borde al card */
    border-radius: 8px; /* Agrega bordes redondeados */
  }
  
  .custom-header {
    background-color: #44B0F1;
  }
  
  .custom-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .custom-table td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }
  
  .custom-table td:first-child {
    font-weight: bold;
  }
  