<app-header title="Listados de Alimentos"></app-header>

<ion-content>
  <ion-spinner *ngIf="loading"></ion-spinner>

  <!-- Selector de categoría -->
  <ion-item>
    <ion-label>Categoría</ion-label>
    <ion-select [(ngModel)]="selectedCategoria" (ionChange)="filterByCategoria()">
      <ion-select-option *ngFor="let categoria of categorias" [value]="categoria">{{ categoria }}</ion-select-option>
    </ion-select>
  </ion-item>

  <!-- Botón para cancelar la selección de categoría -->
  <ion-button (click)="resetFilter()" color="medium" expand="block" *ngIf="selectedCategoria">
    Mostrar todos
  </ion-button>

  <ion-list *ngIf="filteredFoods.length > 0">
    <ion-item *ngFor="let food of filteredFoods" (click)="viewFoodDetails(food.id)">
      <ion-thumbnail slot="start">
        <img [src]="food.imagen" alt="Imagen de {{ food.name }}">
      </ion-thumbnail>
      <ion-label>
        <h2>{{ food.name }}</h2>
        <p>Calorías: {{ food.calories }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-note *ngIf="filteredFoods.length === 0 && !loading">No hay alimentos disponibles.</ion-note>
</ion-content>
