/* inventario.page.scss */

ion-content {
  --background: #f5f5f5; /* Cambia el color de fondo del contenido */
}

ion-list {
  margin-top: 20px;
}

ion-item {
  border-bottom: 1px solid #ddd; /* Agrega una línea divisoria entre elementos */
}

ion-thumbnail {
  width: 70px;
  height: 70px;
}

ion-label {
  margin-left: 10px;
}

ion-note {
  display: block;
  text-align: center;
  margin-top: 20px;
  font-style: italic;
  color: #888;
}

p {
  color: black;
}