.filtrar{
  --background: rgb(255, 255, 255);
  color: #3880ff;
}

.food-card {
  position: relative;
  width: 100%;
  padding-top: 100%; 
}

.food-card .image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.food-image {
  width: 80%;
  height: 80%; 
  margin: auto;
}

.food-card-content {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}