<app-header title="Alimentos"></app-header>
<ion-content>
  <ion-spinner *ngIf="loading"></ion-spinner>

  <ion-grid>
    <ion-row>
      <ion-col size="4" *ngFor="let food of foods; let i = index">
        <ion-card class="food-card" (click)="viewFoodDetails(food.id)">
          <ion-img class="food-image" [src]="food.imagen" style="height: 100px; width: 100px;"></ion-img>
          <ion-card-header>
            <ion-card-title>{{ food.name }}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-note *ngIf="foods.length === 0 && !loading">No hay alimentos disponibles.</ion-note>
  
  

 


</ion-content>
