<app-header title="Alimentos"></app-header>

<ion-content>
  <app-logo></app-logo>
  <div class="contenido">
    <div class="titulo">
      <h1 class="d-flex-center">Alimentos</h1>
    </div>

    <ion-spinner *ngIf="loading"></ion-spinner>

    <ion-grid>
      <ion-row>
        <ng-container *ngFor="let food of foods">
          <ion-col size="3" size-sm="6" size-md="4" size-lg="3">
            <ion-card class="food-card" (click)="openFoodDetailsModal(food.id)">
              <div class="image-container">
                <img [src]="food.imagen" alt="Imagen de {{ food.name }}">
              </div>
              <ion-card-content class="food-card-content">
                <p style="font-size: 10px; color: #44B0F1; font-weight: bold;">{{ food.name }}</p>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ng-container>
        
      </ion-row>
    </ion-grid>
  </div>  

  <ion-note *ngIf="foods.length === 0 && !loading">No hay alimentos disponibles.</ion-note>
</ion-content>