<ion-content>
  <ion-toolbar color="primary">
    <ion-button color="primary" fill="clear" (click)="goBack()">
      <ion-icon slot="start"  name="arrow-back-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>

  <app-logo></app-logo>

  <h2 class="ion-text-center ion-no-margin">Recuperar Contraseña</h2>

    <div class="d-flex-center">

      <ion-card>

        <ion-card-header>
          <ion-card-title color="light" class="ion-text-center" style="font-size: 35px;">
            <strong>Recuperar Contraseña</strong>
          </ion-card-title>
        </ion-card-header>

        <form (keyup.enter)="submit()" (ngSubmit)="submit()" class="ion-text-center">

          <app-custom-input autocomplete="email" [control]="form.controls.email" type="email" label="Correo" icon="mail-outline"></app-custom-input>
          <div class="validators" *ngIf="form.controls.email.errors && form.controls.email.dirty">
            <div *ngIf="form.controls.email.errors?.['required']">Ingresa tu correo</div>
            <div *ngIf="form.controls.email.errors?.['email']">Ingresa un correo valido</div>
          </div>

          <ion-button class="ion-margin-vertical" [disabled]="form.invalid" type="submit" shape="round">
            <strong>Recuperar</strong>
            <ion-icon slot="end" name="arrow-forward"></ion-icon>
          </ion-button>

        </form>
        
      </ion-card>

    </div>

</ion-content>
